@import "../../variables";

.cardListContainer {
  display: flex;
  flex-wrap: wrap;
  padding-right: 8px;
  flex: 100;
  position: relative;
  gap: $indent-l;
  overflow: hidden;
}

.gradient {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: inherit;
  opacity: 0.5;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;

  .topGradient {
    height: $indent-xxxl;
    background-image: linear-gradient(to bottom, rgba(18, 20, 27, 1), rgba(18, 20, 27, 0));
    z-index: 1;
  }

  .bottomGradient {
    height: $indent-xxxl;
    background-image: linear-gradient(to top, rgba(18, 20, 27, 1), rgba(18, 20, 27, 0));
    z-index: 1;
  }
}



.scroll {
  max-height: calc(100vh - 110px);
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  width: $indent-xxs;
}

.scroll::-webkit-scrollbar-track {
  background-color: $scrollbarTrackBackground;
  border-radius: $indent-xxxxl;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: $scrollbarThumbBackground;
  border-radius: $indent-xxxxl;
  height: 15%;
}