.card{
    width: 332px;
    height: 196px;
    border-radius: 16px;
    background: #2a2929;
    padding: 20px;
    flex: calc(20% - 16px);
    max-width: calc(20% - 16px);
    color: #DCD8D3;
    letter-spacing: 0;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    position: relative;
}

.active{
    border: 1px solid #CF7B5A;
    color: white;
}
.activeName{
    color: #CF7B5A
}

.personalData{
    display: flex;
}

.button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #1E1E1E;
}
.button > svg {
    position: relative;
}
.button > svg > use {
    position: absolute;
    top: 0;
    right: 0;
}

.photo > img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 16px;
}

.name{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.additionalData{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.additionalDataContainer{
    display: flex;
}

.phone, .birthday, .address{
    margin-right: 12px;
}