.statisticsContainer{
    display: flex;
    flex-direction: column;
    width: 332px;
    height: 85vh;
    border-radius: 16px;
    background: #2a2929;
    padding: 24px;
}

.statisticsContainer > div, .statisticsContainer> hr {
    margin-bottom: 24px;
}