.genderInfo > h4, .genderInfo > div{
    margin-bottom: 12px;
}

.genderInfo > div {
    display: flex;
    gap: 12px;
}

.genderInfo > h4{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.genderGroup{
    display: flex;
    gap: 16px;
}

.genders{
    font-size: 12px;
    color: #8C8988;
}
.usersCount{
    font-size: 14px;
    color: #DCD8D3;
}

.genders,
.usersCount{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 20px;
    gap: 12px;
}