@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

body {
    background-color: #12141B;
    padding: 32px;
    overflow-y: hidden;
}

#root {
    background-color: #12141B;
    color: #DCD8D3;
    min-height: 100vh;
    font-family: Jura, sans-serif;
}

button,
input {
    font-family: Jura, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}